body {
	padding: 0;
	margin: 0;
}

.site-logo {
	height: 10%;
}

.site-logo img {
	display: block;
	margin: 0 auto;
	block-size: 5em;
}

.navMenu ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: space-around;
	background: red;

}

.navMenu li {
	width: 100%;
	text-align: center;
}

.navMenu a {
	color: black;
	text-decoration: none;
	display: block;
	padding: 0.75em;
}

.navMenu a:hover {
	background: grey;
	color: white;
}

@media screen and (max-width:480px) {
	body {
		background-color: black;
	}
}